*{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    height: 65vh;
    width: 100%;
    background: linear-gradient(#fdfcfc, #000000);
}
.key{
    background-color: white;
    width: 50px;
    height: 200px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    box-shadow: inset 9px 9px 26px #cccccc,
                inset -9px -9px 26px #ffffff;
    z-index: 10;
    overflow: hidden;
}
.key:hover , .playing{
    transform: scale(0.95);
    border:solid;
    background-color: rgb(193, 193, 193);
}
.key-hitam:hover ,.playingHitam{
    transform: scale(0.9);
}
.key h6{
    margin-top: 160px;
    text-align: center;
    font-size: clamp(5px,2.5vw,8ox);
}
kbd{
    margin-left: 10px;
}
.key-hitam{
    background-color: black;
    width: 30px;
    height: 100px;
    position:absolute;
    z-index: 100;
    opacity: 0;
    border-radius: 8px;
    box-shadow: inset 4px 4px 15px #040404,
                inset -4px -4px 15px #060606;
    
}
.key-hitam kbd{
    color: white;
    margin-top: 5px;
    font-size: 9px;
}

.rotate img{
    position: absolute;
    align-items: center;
    top: 20px;
    margin-left: auto;
    opacity: 0;
    z-index: 0;
    max-width: 10px;
}
.container-hitam{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img{
    width: 30px;
    height: 60px;
    right: 50%;
    z-index: 999;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
}
.logo img.mulai{
    opacity: 1;
}
.logo img:nth-child(2){
   top: 3%;
   left: 50%;
}
.logo img:nth-child(3){
    top: 4%;
    right: 52%;
}
.logo img:nth-child(4){
   top: 7%;
   right: 53%;
}
.logo img:nth-child(5){
    top: 6%;
}
@media screen and (max-width:500px){
    .rotate img{
        opacity: 1;
        z-index: 200;
        max-width: 100%;
    }
    .key{
        width: 10px;
    }
}
@media  screen and (min-width:1200px) and (max-width:1350px) {
    .key-hitam{
        opacity: 1;
    }
}